{% extends "layout.html" %}

{% block title %}
    Password change
{% endblock %}

{% block main%}

{% if error %}

<p class=error><strong>Error:</strong>{{ error }}

{% endif %}

<div class="reg-page">
    <div class="container">
        <div class="row">
            <!--div class="col-2b">
                <!--img src="/static/products/Amy.jpg" width="100%"-->
                <div class="form-btn">
                    <span>UPDATE PASSWORD</span>
                        <p>If you've forgotten your password, enter your e-mail address and answers to the security questions</p>

                    
                <form action="/passwordchange" method="post">
                    <div class="col-2b">
                    <input type="text" name="email" placeholder="E-MAIL" required>
                    <input type="text" name="question_1" placeholder="WHAT IS YOUR MOTHER'S MAIDEN NAME?" required>
                    <input type="text" name="question_2" placeholder="IN WHAT CITY WERE YOU BORN?" required>
                    <p>
                        <button type="submit" class="btn-2">CONTINUE</button>
                        </p>
                    </div>                    
                </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}