{% extends "layout.html" %}

{% block title %}
    Password change
{% endblock %}

{% block main%}

{% if error %}

<p class=error><strong>Error:</strong>{{ error }}

{% endif %}

<div class="reg-page">
    <div class="container">
        <div class="row">
            <!--div class="col-2b">
                <!--img src="/static/products/Amy.jpg" width="100%"-->
                <div class="form-btn">
                    <span>CHANGE E-MAIL </span>
                        <p>Enter your current Email and change to new Email</p>

                    
                <form action="/changeEmail" method="post">
                    <div class="col-2b">
                    <input type="password" name="password" placeholder="CURRENT PASSWORD" required>
                    <input type="text" name="new_email" placeholder="NEW E-MAIL ADDRESS" required>
                    <input type="text" name="confirmation" placeholder="CONFIRM NEW E-MAIL ADDRESS" required>
                    <p>
                        <button type="submit" class="btn-2">UPDATE E-MAIL</button>
                        </p>
                    </div>                    
                </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}