<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>K A Y K A Y</title>
    <link href="/static/CSS/style.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="/static/images/kb2.PNG" width="160px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/catalog">CATALOG</a></li>
                    <li><a href="/about_us">ABOUT</a></li>
                    <li><a href="/account">ACCOUNT</a></li>
                    <li><a href="/cart">CART</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-2">
                <!--h1>NEW COLLECTION</h1-->
            </div>
            <div class="col-2">
                <img src="/static/images/Sia.JPG">
                <h1>NEW COLLECTION</h1>
                <div class="shop">
                    <a href="" class="btn">SHOP NOW</a>
                </div>
            </div>
        </div>


</body>

</html>