<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <!-- http://getbootstrap.com/docs/5.1/ -->

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <!--link href="/static/favicon.ico" rel="icon"-->

    <link href="/static/CSS/styles.css" rel="stylesheet">

    <title>K A Y K A Y: {% block title %}{% endblock}</title>

</head>

<body>

    <div class="navbar">
        <div class="logo">
            <img src="/static/images/kb3.png" width="125px">
        </div>
        <nav>
            <ul>
                <li></li><a href="/">HOME</a></li>
                <li></li><a href="/catalog">CATALOG</a></li>
                <li></li><a href="/about_us">ABOUT</a></li>
                <li></li><a href="/account">ACCOUNT</a></li>

                <li></li><a href="/cart">CART</a></li>
            </ul>
        </nav>
    </div>

</body>

</html>