{%  extends "layout.html" %}

{% block title %}
    Order
{% endblock %}

{% block main %}

    <div class="small-container order-page">
        <h1> Your Orders</h1>
            {% for order in user_order %}
                <hr>
                {{ order["created_date"] | strftime }}

                <div class="order-info">
                    <p>{{ order["total"] | eur }} <a href="/viewOrder?date={{ order["created_date"] }}" onclick="this.closest('form').submit();return false;">VIEW ORDER</a></p>
                    <br>
                    <img src="static/products/{{ order["image"] }}">
                    <div>

                    </div>
                </div>
        
            {% endfor %}

    </div>

{% endblock %}