{% extends "layout.html" %}

{% block title %}
    Product-Detail
{% endblock %}

{% block main %}

<div class="small-container single-product">
    <div class="row">
        <!--div class="col-2"-->
        {% for detail in product_detail %}
        <!--p><a href="/">Home</a>  >  {{ detail["name"] }}</p-->
        <div class="col-2b">
            <img src="static/products/{{ detail["image"] }}" width="100%">
        </div>
        
        <div class="col-2b">
            <h1>{{ detail["name"] }}</h1>
            <h3>{{ detail["price"] | eur }}</h3>

            <select>
                <option disable selected >Size</option>
                {% for size in sizes %}
                    <option>{{ size }}
                {% endfor %}
            </select>
            
            <h4>Quantity</h4>
            <form action="/addtocart?id={{ detail["id"] }}" method="post">
                <input  type="number" name="qty" value="1" min="1" max={{ detail["quantity"] }}>
                <p></p>
                <button class="btn-2" type="submit">ADD TO CART</button>
            </form>
            
            <!--a href="/addtocart" class="btn-2">BUY IT NOW</a-->
            <!--form action="/addtocart">
                <input  type="number" name="qty" value="1">
                <input type="submit" hidden>
            </form>
            <p></p>
            <a href="/addtocart?id={{ detail["id"] }}&qty={{ request.args.get("qty") }}" class="btn-2"> ADD TO CART</a-->
            <p><h3>Product Description</h3>
            <p>{{ detail["desc"] }}</p>
        </div>
        {% endfor %}
    </div>
<!----------------------------Related products--------------------- -->
    <div class="small-container">
        <div class="row-row-2">
            <h4>You may also like</h4>
        </div>

    <div class="small-container">
        <div class="row">
            {% for product in related_products %}
            <div class="col-4">
                <a href="/productDetail?name={{ product["name"] }}">
                <!--h3>{{ product["category_name"] }}</h3-->
                <img src="/static/products/{{ product["image"] }}">
                <div class="name">{{ product["name"] }}</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="price">{{ product["price"] | eur }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
</div>
                
{% endblock %}